<div id="<%= dom_id shoe %>">
  <p>
    <strong>Name:</strong>
    <%= shoe.name %>
  </p>

  <p>
    <strong>Model:</strong>
    <%= shoe.model %>
  </p>

  <p>
    <strong>Edition:</strong>
    <%= shoe.edition %>
  </p>

  <p>
    <strong>Year:</strong>
    <%= shoe.year %>
  </p>

  <p>
    <strong>Color:</strong>
    <%= shoe.color %>
  </p>

  <p>
    <strong>Image URL:</strong>
    <%= shoe.image%>
  </p>

</div>
